doctype html
html(lng='en')
  head
    title Multicolor SVG CSS
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/css/core.css', rel='stylesheet')
  body
    SVG(class='icon icon-coffee')
        use(xlink:href='#icn-coffee')



    include includes/icons.pug
    